<% provide(:title, 'Features') %>
<% provide(:body_id, 'home') %>

<div id="features">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h2>Gain leads, attract clients, find buyers</h2>
					<p>Create lasting impressions with fresh, modern virtual tours and single property websites.</p>
				</div>
			</div>

			<!-- === FEATURE ONE === -->
			<div class="row feature">
				<div class="col-md-6 info">
					<h4><i class="fa fa-home"></i>Intuitive tour creation</h4>
					<p>
						Quickly and easily create and display tours with an interface simple enough for everyone. Multiple photo uploads, drag-and-drop photo ordering, quick and easily labeling help you create your first tour in seconds.
					</p>
				</div>
				<div class="col-md-6 image">
					<%= image_tag("features/tour-creation.jpg", class: "img-responsive img-shadow", alt: "Show and Tour tour builder virtual tours") %>
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE TWO === -->
			<div class="row feature backwards">
				<div class="col-md-6 info">
					<h4><i class="fa fa-picture-o"></i>Unlimited hi-res photos</h4>
					<p>
						Photos are <em>the</em> way to build interest in your listing. This is why we encourage you to use large, high-res photos, and why we don't limit the number of photos you can add to your tours. Your listings never looked better.
					</p>
				</div>
				<div class="col-md-6 image">
					<%= image_tag("features/hi-res-photos.jpg", class: "img-responsive img-shadow", alt: "Show and Tour tour builder virtual tours") %>
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE THREE === -->
			<div class="row feature">
				<div class="col-md-6 info">
					<h4><i class="fa fa-tablet"></i>Mobile friendly</h4>
					<p>
						You need a virtual tour that looks great no matter what device it is viewed on. Show & Tour listings are beautiful on any device, from the largest monitor to the smallest smartphone, and everywhere in between.
					</p>
				</div>
				<div class="col-md-6 image">
					<%= image_tag("features/mobile.jpg", class: "img-responsive img-shadow", alt: "Show and Tour mobile friendly virtual tours") %>
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE FOUR === -->
			<div class="row feature backwards">
				<div class="col-md-6 info">
					<h4><i class="fa fa-code"></i>Fresh & clean professional design</h4>
					<p>
						Your clients have spent time and money keeping their home updated and fresh. It only makes sense that their virtual tour would do the same. We use the latest technology and web standards to deliver cutting edge graphics and designs that truely showcase the beauty of any home.
					</p>
				</div>
				<div class="col-md-6 image">
					<%= image_tag("features/design.jpg", class: "img-responsive img-shadow", alt: "Show and Tour virtual tour builder professional design") %>
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE FIVE === -->
			<div class="row feature">
				<div class="col-md-6 info">
					<h4><i class="fa fa-thumbs-up"></i>Social media integration</h4>
					<p>
						You'll take all the help you can get! Allow clients and viewers to easily share virtual tours of homes they love with family and friends via Facebook, Twitter, and email.
					</p>
				</div>
				<div class="col-md-6 image">
					<%= image_tag("features/social-media.jpg", class: "img-responsive img-shadow", alt: "Show and Tour virtual tours social media") %>
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE SIX === -->
			<div class="row feature backwards">
				<div class="col-md-6 info">
					<h4><i class="fa fa-map-marker"></i>Embedded Google Maps</h4>
					<p>
						Location, location, location. With Show & Tour, your tours allow viewers to see large and detailed maps of exacly where their next home can be found.
					</p>
				</div>
				<div class="col-md-6 image">
					<%= image_tag("features/maps.jpg", class: "img-responsive img-shadow img-border", alt: "Show and Tour virtual tours embedded maps") %>
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE SEVEN === -->
			<div class="row feature">
				<div class="col-md-6 info">
					<h4><i class="fa fa-users"></i>Branded and unbranded options</h4>
					<p>
						You need your name to be out there, and our branded tours do just that: you'll find yourself heavily featured at the top of the tour. You'll also have an alternate linke to use when agent information is not allowed.
					</p>
				</div>
				<div class="col-md-6 image">
					<%= image_tag("features/branded-tour.png", class: "img-responsive img-shadow img-border", alt: "Show and Tour virtual tours branded") %>
				</div>
			</div>
			<div class="divider"></div>

		</div>		
	</div>

	<!-- === PRICING === -->

	<div id="pricing">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h3>No contract. Cancel when you want.</h3>
					<p>Includes a 30 day money back guarantee.</p>
				</div>
			</div>
			<div class="row charts">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="chart featured">
						<div class="quantity">
							<span class="dollar">$</span>
							<span class="price">29</span>
							<span class="period">/month</span>
						</div>
						<!-- <div class="plan-name">Early Adopter</div> -->
						<div class="specs">
							<div class="spec">
								<span class="variable">Unlimited</span>
								virtual tours
							</div>
							<div class="spec">
								<span class="variable">High-Res</span>
								photo support
							</div>
							<div class="spec">
								<span class="variable">Mobile</span>
								friendly
							</div>
							<div class="spec">
								<span class="variable">Customizable</span>
								listing URL
							</div>
							<div class="spec">
								<span class="variable">Branded & Unbranded</span>
								options
							</div>
						</div>
						<br />
						<a class="button" href="/users/sign_up"><span>Sign Up</span></a>
						
					</div>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>