<% provide(:body_id, 'home') %>
<% content_for :head do %>
	<meta name="description" content="Looking for the best online virtual tour software for real estate? Use Show and Tour to build elegant virtual tours for any house or home on the market.">
<% end %>


	<div id="hero">
		<div class="container">
			<h1 class="hero-text animated fadeInDown">
				Real Estate Virtual Tours... <br>
				<span>Market your listings, generate leads.<span>
			</h1>
			<h2 class="sub-text animated fadeInDown">
				Beautiful, elegant, and powerful. Get started for free.
			</h2>
			<div class="cta animated fadeInDown">
				<a href="features.html" class="button-outline">Learn More</a>
				<%= link_to "Sign Up for Free", new_user_registration_path, class: "button", :'data-no-turbolink' => "true" %>
			</div>
			<div class="img animated fadeInDown"></div>
		</div>
	</div>

	<div id="features">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h2>Sell homes this month, while preparing your pipeline for next month.</h2>
					<p>Use fresh, modern, and cutting-edge virtual tours to help market homes and generate leads.</p>
				</div>
			</div>

			<!-- Sample Tours -->
			<div class="row feature">
				<div class="col-sm-4 info">
					<%= link_to sample2_path, target: "_blank" do %>
					<%= image_tag "sample-tour.jpg" %>
					<div class="sample-tour-subtext">See a Sample Tour ></div>
					<% end %>
				</div>
				<div class="col-sm-4 info">
					<%= link_to sample2_path, target: "_blank" do %>
					<%= image_tag "sample-tour.jpg" %>
					<div class="sample-tour-subtext">See a Sample Tour ></div>
					<% end %>
				</div>
				<div class="col-sm-4 info">
					<%= link_to sample2_path, target: "_blank" do %>
					<%= image_tag "sample-tour.jpg" %>
					<div class="sample-tour-subtext">See a Sample Tour ></div>
					<% end %>
				</div>
			</div>
			<!-- end of Sample Tours -->
			
		</div>		
	</div>

	<div id="features">
	<div id="second-option" class="front-page-features">
		<div class="container">
			<div class="row">
				<div class="col-md-4 feature">
					<i class="fa fa-home"></i>
					<strong>Intuitive Tour Creation</strong>
					<p>Create a tour in seconds. Upload multiple photos at once, type in basic listing information, and you're ready to go.</p>
				</div>
				<div class="col-md-4 feature">
					<i class="fa fa-picture-o"></i>
					<strong>Unlimited Hi-Res Photos</strong>
					<p>Don't worry about running out of space or being limited in how many photos you can show; with us, the sky's the limit.</p>
				</div>
				<div class="col-md-4 feature">
					<i class="fa fa-tablet"></i>
					<strong>Mobile Friendly</strong>
					<p>Tours are beautiful on a desktop computer, laptop, tablet or smartphone. Your listing is ready no matter how it is viewed.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 feature">
					<i class="fa fa-code"></i>
					<strong>Clean, Professional Design</strong>
					<p>Our themes use the latest in cutting edge design. Functional, beautiful, and fresh.</p>
				</div>
				<div class="col-md-4 feature">
					<i class="fa fa-thumbs-up"></i>
					<strong>Social Media Integration</strong>
					<p>Use the power of social media to extend your reach. Viewers can instantly share your listing with their friends on multiple platforms including Facebook and Twitter.</p>
				</div>
				<div class="col-md-4 feature">
					<i class="fa fa-users"></i>
					<strong>Branded and Unbranded Options</strong>
					<p>Each listing has two versions: one that contains your contact information, and one that doesn't. Use either, depending on your needs.</p>
				</div>
			</div>
		</div>
	</div>
	</div>



	<div id="pricing">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h3>Your first tour is FREE!</h3>
					<h4 style="color: white;">Then, just $12/tour. No monthly charges, no extra fees.</h4>
					<br>
					<a class="button-clear" href="features.html"><span>Learn More</span></a>
					<%= link_to "Sign Up for Free", new_user_registration_path, class: "button", :'data-no-turbolink' => "true" %>
				</div>
			</div>
		</div>
	</div>

	