<% content_for :head do %>
  <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY %>
<% end %>
<div class="container">
<div class="row">
  <div class="col-md-4 col-md-offset-4
        col-sm-6 col-sm-offset-3
        col-xs-10 col-xs-offset-1">

    <h2>Change Password</h2>

    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <%= f.password_field :current_password, autocomplete: "off", label: "Current Password" %>

        <%= f.password_field :password, autocomplete: "off", label: "New Password" %>

        <%= f.password_field :password_confirmation, autocomplete: "off", label: "New Password (again)" %>

        <div class="span7 text-center">
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
    <% end %>

    <hr class="margin-top25" />

    <h2 class="top-pad15">Update Billing Info</h2>
    <br />
    <p class="text-center">Card on file:  **** **** **** <%= @user.last_4_digits %>
    </p>
    <br />
    <div class="span7 text-center">
      <button class="btn btn-primary" data-toggle="modal" data-target="#cardData" style="margin-left: 5%;">Change Card</button>
    </div>

    <hr class="margin-top25" />

    <p class="top-pad15">To cancel your account, please contact: <a href="mailto:support@showandtour.com">support@showandtour.com</a></p>

  </div>
</div>
</div>
<!-- ========= UPDATE CARD INFO MODAL =========== -->
<div id="cardData" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= bootstrap_form_for resource, :as => resource_name, :url => update_card_path, :html => {:method => :put, :class => 'form-horizontal card_form' } do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&#215;</a>
          <h2 class="modal-title">Change Credit Card</h2>
        </div>
        <div class="modal-body">
          <div id="stripe_error" class="alert alert-error" style="display:none"></div>
          <div class="field">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, name: nil %>
          </div>
          <div class="field">
            <%= label_tag :card_code, "Card Security Code (CVV)" %>
            <%= text_field_tag :card_code, nil, name: nil %>
          </div>
          <div class="field" id="field-group-padding">
            <%= label_tag :card_month, "Card Expiration" %>
            <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
          </div>
          <%= f.hidden_field :first_name %>
          <%= f.hidden_field :last_name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :stripe_token %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Change Credit Card", :class => "btn btn-primary", :'data-no-turbolink' => "true" %>
          <a class="btn" data-dismiss="modal" href="#">Close</a>
        </div>
      </div> <!-- / .modal-content -->
    </div> <!-- / .modal-dialog -->
  <% end %>
</div>  <!-- ========= / UPDATE CARD INFO MODAL =========== -->
