<% provide(:title, 'Sign up') %>
<% provide(:body_id, 'signup') %>
<% provide(:footer_class, 'white') %>

<!-- === NEW === -->

	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h4>Your first tour is free.</h4>
				<p>
					Then, just $12/tour. No monthly charges. No hidden fees.
				</p>
				<h4>Sign up today:</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">
		<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "card_form"})  do |f| %>
		  <%= devise_error_messages! %>



		  <%= f.text_field :first_name, layout: :inline, autofocus: true, required: true %>

		  <%= f.text_field :last_name, layout: :inline, required: true %>

		  <%= f.email_field :email, required: true %>

		  <%= f.password_field :password, autocomplete: "off", required: true %>

		  <%= f.password_field :password_confirmation, autocomplete: "off", label: "Confirm Password", required: true %>

		  <br />
		  <div class="span7 clear text-center">
		  	<%= f.submit "Sign up", class: "btn btn-primary", :'data-no-turbolink' => "true" %>
		  </div>
		<% end %>
							</div>
						</div>						
					</div>
				</div>
				<div class="already-account">
					Already have an account?
					<a href="/users/sign_in">Sign in here</a>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function () {
			$(".already-account a").popover();
			$(".already-account a").popover('show');
		});
	</script>

<!-- === END OF NEW === -->

