<% if @tour.photos.any? %>
	<ul id="photo-preview-list" data-update-url="<%= sort_photos_url %>">
		<% @photos.each do |photo| %>
		<%= content_tag_for :li, photo do %>
			<div class="drag-handle">
				<i class="light-grey glyphicon-lg glyphicon glyphicon-resize-vertical"></i>
			</div>

			<!-- photo -->
			<div class="photo-preview-photo"><%= image_tag photo.photo_url(:thumb).to_s %></div>

			<!-- title -->
			<div class="photo-preview-title">
				<span class="photo-preview-filename"><%= truncate(photo.photo.file.filename, lenght: 25) %></span>
			</div>

			<!-- delete -->
			<%= link_to "X", photo, method: :delete, data: { confirm: "Are you sure you want to delete this photo?" }, class: "btn btn-danger btn-sm photo-delete-btn" %>

			<!-- description -->
			<div class="photo-preview-description">
				<a href="#" id="label" data-type="text" data-pk="<%= photo.id %>" data-url="/post" data-title="(add label)">Add Label</a>
			</div>

			<div class="clear"></div>
		<% end %>
		<% end %>
	</ul>
<% else %>
	<p>There are no photos!</p>
<% end %>