<!-- New Photos Uploading -->
<div id="new-photos-processing-wrapper">
	<ul id="new-photos-processing"></ul>
</div>

<!-- if no photos have been added -->
<% unless @tour.photos.any? %>
	<div id="no-photos-found">No photos found.</div>
<% end %>

<!-- if any photos processing -->
<% if @tour.photos.where("processed = ?", "false").any? %>
<div class="alert alert-info"><i class="fa fa-magic" style="margin-right: 10px;"></i> Some magic is happening in the background, and some of your photos are still processing. Refresh the page to check the progress.</div>
<% end %>

<!-- photo-related instructions -->
<% if @tour.photos.any? %>
	<div class="photo-instructions">
		<i class="fa fa-arrows-v"></i>Change the order of photos via drag-and-drop with the arrows to the left. <br />
		<i class="fa fa-tag"></i>To add a label to a photo, click "add label", enter text, and hit return.
	</div>
<% end %>

<!-- list of uploaded photos -->
<ul id="photo-preview-list" data-update-url="<%= sort_photos_url %>">
	<% @photos.each do |photo| %>
		<%= content_tag_for :li, photo do %>
			<div class="drag-handle">
				<i class="fa fa-arrows-v"></i>
			</div>

			<!-- photo -->
			<% if photo.processed %>
			<div class="photo-preview-photo"><%= image_tag photo.upload.url(:thumb) %></div>
			<% else %>
			<div class="photo-preview-photo"><%= image_tag "photo-processing.png" %></div>
			<% end %>

			<!-- title -->
			<div class="photo-preview-title">
				<span class="photo-preview-filename"><%= photo.upload.original_filename %></span>
			</div>

			<!-- delete -->
			<%= link_to "X", tour_photo_path(tour_id: photo.tour.id, id: photo.id), method: :delete, data: { confirm: "Are you sure you want to delete this photo?" }, class: "btn btn-danger btn-sm photo-delete-btn" %>

			<!-- label -->
			<div class="photo-preview-label">
				<span class="rest-in-place" data-url="/photos/<%= photo.id %>" data-object="photo" data-attribute="label">
				<%= photo.label || "(add label)" %>
				</span>
			</div>

			<div class="clear"></div>
		<% end %>
	<% end %>

</ul>