<% provide(:title, "Profile and Settings") %>
<h1>Profile & Settings</h1>

<div class="row">
  <div class="col-md-9 col-md-offset-2">
    <p class="grey center">This information is shown on every branded tour, and is how people will get in touch with you. <br />Changes will be applied to all of your current tours, as well as to any new tours you create.</p>
    <%= render 'shared/error_messages' %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-4 col-md-offset-2
              col-sm-5
              col-xm-10 col-xs-offset-1">
    <h2>Profile Information:</h2>
    <br />
    <%= bootstrap_form_for @user, layout: :horizontal do |f| %>

      <%= f.text_field :first_name, label: "First Name" %>

      <%= f.text_field :last_name, label: "Last Name" %>

      <%= f.text_field :email %>

      <%= f.text_field :phone %>

      <%= f.text_field :company, label: "Company/Agency", layout: :default %>

      <%= f.text_field :website, label: "Homepage/Website", layout: :default, type: :url, placeholder: "http://www.example.com" %>

      <%= f.submit "Save changes", class: "btn btn-primary float-right" %>
    <% end %>

    <br><br>

    <h2 class="mar-top30">Profile Image:</h2>
    <p class="small grey">This can be your photo, logo, or a combination of the two. The preferred image dimensions are 120x120; your image will be scaled to fit within that size.</p>
    <%= render partial: 'user_image' %>
    <br /> 
    <%= form_for @user, :html => { :multipart => true } do |f| %>
      <%= f.file_field :user_image, class: 'upload-btn' %>
      <br />
      <%= f.submit "Upload Photo", class: "btn btn-primary" %>
    <% end %>

  </div>

  <script type="text/javascript">
    var url = document.querySelector('input[type="url"]');
    url.oninvalid = function(e) {
    e.target.setCustomValidity("");
    if (!e.target.validity.valid) {
    e.target.setCustomValidity("Please enter a valid URL, starting with http://"); }
    };
  </script>

  <div class="col-md-4 col-md-offset-1
              col-sm-5 col-sm-offset-1">

    <h2>Settings</h2>

      <%= bootstrap_form_for @user, layout: :horizontal do |f| %>

        <%= f.check_box :email_scheduler_leads, layout: :horizontal, label_col: "col-sm-6", control_col: "col-sm-6", label: "Email me with leads from the Scheduler widget" %>

        <br>

        <%= f.submit "Save changes", class: "btn btn-primary float-right" %>

      <% end %>


  </div>
</div>