<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-3">
		<section>
			<h1 class="profile-name"><%= @user.name %></h1>
			<div>
         <%= render partial: 'user_image' %>
  			 <ul class="profile-info">
  				<li><%= @user.company %></li>
  				<li><%= @user.email %></li>
  				<li><%= @user.phone %></li>
  				<li><%= @user.user_url %></li>
  			</ul>
			<%= link_to "Edit Profile", edit_user_path, class: "btn btn-default btn-sm" %>
		</section>
	</aside>

	<div class="col-md-9">
    <div class="row">

      <div class="col-sm-3 col-xs-6">
        <%= link_to new_tour_path(user_id: @user.id), class: "btn btn-default dashboard-btn", :'data-no-turbolink' => "true" do %>
          <i class="glyphicon-lg glyphicon glyphicon-plus-sign"></i>
          <br /><br />
          Create New Tour
        <% end %>
      </div>

      <div class="col-sm-3 col-xs-6">
        <%= link_to tours_path(user_id: @user.id), class: "btn btn-default dashboard-btn" do %>
          <i class="glyphicon-lg glyphicon glyphicon-home"></i>
          <br /><br />
          Manage Tours
        <% end %>
      </div>

      <div class="col-sm-3 col-xs-6">
        <%= link_to edit_user_path, class: "btn btn-default dashboard-btn" do %>
          <i class="glyphicon-lg glyphicon glyphicon-user"></i>
          <br /><br />
          Edit Profile
        <% end %>
      </div>

      <div class="col-sm-3 col-xs-6">
        <%= link_to '/support', class: "btn btn-default dashboard-btn" do %>
          <i class="glyphicon-lg glyphicon glyphicon-wrench"></i>
          <br /><br />
          Support
        <% end %>
      </div>

    </div>
    <div class="dashboard-tours">
      <h1 class="tours_title">Recently Added Tours</h1>
        <% if @user.tours.any? %>
        <div class="table-responsive">
        <table class="tours table table-striped">
          <thead>
        	<tr>
        		<th>Created</th>
        		<th>Address</th>
        		<th>City</th>
        		<th>State</th>
        		<th>Zip</th>
        		<th>Price</th>
            <th> </th>
        	</tr>
          </thead>
          
          <tbody>
          <%= render @tours %>
          </tbody>
        </table>
        </div>
        <%= link_to "All Tours ->", tours_path(user_id: @user.id) %>
        <% else %>
        <h1 class="no_tours_found"> No tours found! <%= link_to "Create one.", new_tour_path(user_id: @user.id) %></h1>
        <% end %>
    </div>
  </div>
</div>