<% provide(:title, "Dashboard") %>
<div class="container-fluid">
<div class="row">
	<aside class="col-md-3">
		<section>
			<div class="profile-info-wrapper">
         <%= render partial: 'user_image' %>
         <h1 class="profile-name"><%= "#{@user.first_name} #{@user.last_name}" %></h1>
  			 <ul class="profile-info">
  				<li><%= @user.company %></li>
  				<li><%= @user.email %></li>
  				<li><%= @user.phone %></li>
  				<li><%= @user.user_url %></li>
  			</ul>
			<%= link_to "Edit Profile", profile_path, class: "btn btn-default btn-sm" %>
      <br />

      <% if @user.company.blank? || @user.phone.blank? %>

        <div class="incomplete-profile">

        <%= link_to profile_path do %>
          <i class="fa fa-exclamation-triangle"></i><br>
          Your profile is incomplete! Before publishing your first tour, click here to complete it.
        <% end %>

        </div>

      <% end %>

      <hr style="margin: 20px;" />

      <div class="feedback-blurb">
        <span>
          Feedback?<br />
          Feature requests?<br />
          Questions?</span><br />
          We'd love to hear from you!<br />
          <a href="mailto:support@showandtour.com">support@showandtour.com</a>
      </div>
		</section>
	</aside>

	<section class="col-md-9">
    <div class="row">

      <!-- ===== CREATE NEW TOUR ===== -->
      <div class="col-sm-3 col-xs-6">
        <% if @user.tour_available? %>
        
          <%= link_to new_tour_path, class: "btn btn-default dashboard-btn", :'data-no-turbolink' => "true" do %>
            <i class="glyphicon-lg glyphicon glyphicon-plus-sign"></i>
            <br /><br />
            Create New Tour
          <% end %>

        <% else %>

          <div class="purchase-tour-btn dashboard-btn">
            To create a new tour:
            <div class="mar-top30">            
              <%= render "layouts/payment_btn" %>
            </div>
          </div>

        <% end %>
      </div>

      <!-- ===== MANAGE TOURS ===== -->
      <div class="col-sm-3 col-xs-6">
        <%= link_to tours_path, class: "btn btn-default dashboard-btn" do %>
          <i class="glyphicon-lg glyphicon glyphicon-home"></i>
          <br /><br />
          My Tours
        <% end %>
      </div>

      <!-- ===== EDIT PROFILE ===== -->
      <div class="col-sm-3 col-xs-6">
        <%= link_to profile_path, class: "btn btn-default dashboard-btn" do %>
          <i class="glyphicon-lg glyphicon glyphicon-user"></i>
          <br /><br />
          Edit Profile
        <% end %>
      </div>

      <!-- ===== SUPPORT ===== -->
      <div class="col-sm-3 col-xs-6">
        <%= link_to 'mailto:support@showandtour.com', class: "btn btn-default dashboard-btn" do %>
          <i class="glyphicon-lg glyphicon glyphicon-wrench"></i>
          <br /><br />
          Email Support
        <% end %>
      </div>

    </div> <!-- / .row -->

    <!-- ===== RECENT TOURS TABLE ===== -->
    <div class="dashboard-tours">
      <h1 class="tours_title">My Recent Tours</h1>
        <% if @user.tours.any? %>
        <div class="table-responsive">
        <table class="tours table">
          <thead>
        	<tr id="no-background">
        		<th>Created</th>
        		<th>Address</th>
        		<th>City</th>
        		<th>Price</th>
            <th>Tour Links</th>
            <th> </th>
        	</tr>
          </thead>
          
          <tbody>
          <%= render @tours %>
          </tbody>
        </table>
        </div>
        <%= link_to "All Tours ->", tours_path %>
        <% else %>
        <h1 class="no_tours_found">
          No tours found!
          <% if @user.tour_available? %>
            <%= link_to "Create one.", new_tour_path(user_id: @user.id), :'data-no-turbolink' => "true" %></h1>
          <% else %>
            <%= link_to "Purchase a new tour", "#", :'data-no-turbolink' => "true" %></h1>
          <% end %>
        <% end %>
    </div> <!-- / .dashboard-tours -->

  </section>
</div> <!-- / .row -->
</div> <!-- / .container -->