<% provide(:title, "Dashboard") %>

<div class="row">
	<aside class="col-md-3">
		<section>
			<h1 class="profile-name"><%= "#{@user.first_name} #{@user.last_name}" %></h1>
			<div>
         <%= render partial: 'user_image' %>
  			 <ul class="profile-info">
  				<li><%= @user.company %></li>
  				<li><%= @user.email %></li>
  				<li><%= @user.phone %></li>
  				<li><%= @user.user_url %></li>
  			</ul>
			<%= link_to "Edit Profile", profile_path, class: "btn btn-default btn-sm" %>
		</section>
	</aside>

	<section class="col-md-9">
    <div class="row">

      <!-- ===== CREATE NEW TOUR ===== -->
      <div class="col-sm-3 col-xs-6">
        <%= link_to new_tour_path, class: "btn btn-default dashboard-btn", :'data-no-turbolink' => "true" do %>
          <i class="glyphicon-lg glyphicon glyphicon-plus-sign"></i>
          <br /><br />
          Create New Tour
        <% end %>
      </div>

      <!-- ===== MANAGE TOURS ===== -->
      <div class="col-sm-3 col-xs-6">
        <%= link_to tours_path, class: "btn btn-default dashboard-btn" do %>
          <i class="glyphicon-lg glyphicon glyphicon-home"></i>
          <br /><br />
          Manage Tours
        <% end %>
      </div>

      <!-- ===== EDIT PROFILE ===== -->
      <div class="col-sm-3 col-xs-6">
        <%= link_to profile_path, class: "btn btn-default dashboard-btn" do %>
          <i class="glyphicon-lg glyphicon glyphicon-user"></i>
          <br /><br />
          Edit Profile
        <% end %>
      </div>

      <!-- ===== SUPPORT ===== -->
      <div class="col-sm-3 col-xs-6">
        <%= link_to '/support', class: "btn btn-default dashboard-btn" do %>
          <i class="glyphicon-lg glyphicon glyphicon-wrench"></i>
          <br /><br />
          Support
        <% end %>
      </div>

    </div> <!-- / .row -->

    <!-- ===== RECENT TOURS TABLE ===== -->
    <div class="dashboard-tours">
      <h1 class="tours_title">My Recent Tours</h1>
        <% if @user.tours.any? %>
        <div class="table-responsive">
        <table class="tours table">
          <thead>
        	<tr id="no-background">
        		<th>Created</th>
        		<th>Address</th>
        		<th>City</th>
        		<th>Price</th>
            <th>Tour Links</th>
            <th> </th>
        	</tr>
          </thead>
          
          <tbody>
          <%= render @tours %>
          </tbody>
        </table>
        </div>
        <%= link_to "All Tours ->", tours_path(user_id: @user.id) %>
        <% else %>
        <h1 class="no_tours_found"> No tours found! <%= link_to "Create one.", new_tour_path(user_id: @user.id) %></h1>
        <% end %>
    </div> <!-- / .dashboard-tours -->

  </section>
</div> <!-- / .row -->