<% provide(:title, 'Password Reset') %>
<% provide(:body_id, 'signup') %>

<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h4>Forgot your password?</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">
								<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
								  <%= devise_error_messages! %>

								  <div><%= f.label :email %><br />
								  <%= f.email_field :email, autofocus: true %></div>
								  <br />
								  <div><%= f.submit "Send me reset password instructions", class: "btn btn-primary" %></div>
								<% end %>
							</div>
						</div>						
					</div>
				</div>
				<div class="already-account">
					<a href="/users/sign_in">Sign in</a>
					<br />
					Don't have an account? <a href="/users/sign_up">Create one here</a>.
				</div>
			</div>
		</div>
	</div>








