<div id="social-label">Share:</div>

<div id="social-icons-wrapper">
	<div id="facebook" class="social-icon">
		<a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank"><%= image_tag "tour-default/facebook.png" %></a>
	</div>
	<div id="twitter" class="social-icon">
		<a target="_blank" href="http://twitter.com/share?text=Love%20this%20home!&url=<%= request.original_url %>"><%= image_tag "tour-default/twitter.png" %></a>
	</div>
	<div id="email" class="social-icon">
		<a target="_blank" href="mailto:?subject=Love this home!&body=<%= request.original_url %>"><%= image_tag "tour-default/email.png" %></a>
	</div>
</div>