<tr>

	<td><%= lead.created_at %></td>
	<td><%= lead.tour.address %></td>
	<td><%= lead.name %></td>
	<td><%= lead.contact_info %></td>
	<td><%= lead.schedule_showing %></td>
	<td><%= lead.get_more_info %></td>
	<td><%= lead.send_list %></td>
	
</tr>