<h4>Address:</h4>
<%= f.text_field :address, hide_label: true, placeholder: 'Street Address', required: true %>

<%= f.text_field :city, layout: :inline, hide_label: true, placeholder: 'City' %>

<%= f.select :state, [
      ['(select)', ' '],
      ['Alabama', 'AL'],
      ['Alaska', 'AK'],
      ['Arizona', 'AZ'],
      ['Arkansas', 'AR'],
      ['California', 'CA'],
      ['Colorado', 'CO'],
      ['Connecticut', 'CT'],
      ['Delaware', 'DE'],
      ['District of Columbia', 'DC'],
      ['Florida', 'FL'],
      ['Georgia', 'GA'],
      ['Hawaii', 'HI'],
      ['Idaho', 'ID'],
      ['Illinois', 'IL'],
      ['Indiana', 'IN'],
      ['Iowa', 'IA'],
      ['Kansas', 'KS'],
      ['Kentucky', 'KY'],
      ['Louisiana', 'LA'],
      ['Maine', 'ME'],
      ['Maryland', 'MD'],
      ['Massachusetts', 'MA'],
      ['Michigan', 'MI'],
      ['Minnesota', 'MN'],
      ['Mississippi', 'MS'],
      ['Missouri', 'MO'],
      ['Montana', 'MT'],
      ['Nebraska', 'NE'],
      ['Nevada', 'NV'],
      ['New Hampshire', 'NH'],
      ['New Jersey', 'NJ'],
      ['New Mexico', 'NM'],
      ['New York', 'NY'],
      ['North Carolina', 'NC'],
      ['North Dakota', 'ND'],
      ['Ohio', 'OH'],
      ['Oklahoma', 'OK'],
      ['Oregon', 'OR'],
      ['Pennsylvania', 'PA'],
      ['Puerto Rico', 'PR'],
      ['Rhode Island', 'RI'],
      ['South Carolina', 'SC'],
      ['South Dakota', 'SD'],
      ['Tennessee', 'TN'],
      ['Texas', 'TX'],
      ['Utah', 'UT'],
      ['Vermont', 'VT'],
      ['Virginia', 'VA'],
      ['Washington', 'WA'],
      ['West Virginia', 'WV'],
      ['Wisconsin', 'WI'],
      ['Wyoming', 'WY']
    ], layout: :inline, hide_label: true
%>

<%= f.text_field :zip, layout: :inline, hide_label: true, placeholder: 'Zip' %>

<br />

<div class="tour-instructions-box">
      <i class="fa fa-map-marker"></i>Maps are generated automatically based on the address. If you need to correct a map location, please contact <a href="mailto:support@showandtour.com">support@showandtour.com</a>.
</div>

<br />

<h4>Description:</h4>

<%= f.text_area :description, size: "24x6", hide_label: true %>

<br />

<h4>Other Info:</h4>

<div id="field-group-padding">
      <%= f.text_field :price, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" %>
      <%= f.text_field :beds, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" %>
      <%= f.text_field :baths, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" %>
      <%= f.number_field :home_size, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" %>
      <%= f.text_field :lot_size, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" %>
      <%= f.text_field :year_built, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" %>
</div>

<br />

<h2 class="grey"><i class="fa fa-film icon-pad"></i>Video:</h2>
<p>Simply paste the embed code from YouTube or Vimeo (<a href="/blog/videos" target="_blank">learn more</a>)</p>
<%= f.text_area :video, size: "24x3", hide_label: true %>

<br />

<h2 class="grey"><i class="fa fa-user icon-pad"></i>Tour Agent:</h2>

<div class="tour-instructions-box">
      The "branded" tour will include the real estate agent's information. It will display your information by default, but if you need to use a different agent, select them from your list of agents. 
</div>

<div class="float-right">
      <%= link_to "Add New Agent", new_agent_path, target: "_blank" %>
</div>

<%= f.collection_select :agent_id, current_user.agents.all, :id, :full_name, {include_blank: "#{current_user.first_name} #{current_user.last_name} (use my info)"} %>

<h2 class="grey"><i class="fa fa-camera icon-pad"></i>Photographer Info:</h2>

<%= f.check_box :show_photographer_info, layout: :horizontal, label_col: "col-sm-6", control_col: "col-sm-6", label: 'Include "Photo Info" icon/information' %>

<%= f.collection_select :photographer_id, current_user.agents.all, :id, :full_name, {include_blank: "#{current_user.first_name} #{current_user.last_name} (use my info)"} %>

<h2 class="grey"><i class="fa fa-cog icon-pad"></i>Tour Options:</h2>

<div class="choose-theme">
      <%= f.form_group :theme, label: { text: "Theme:"} do %>
        <%= f.radio_button :theme, 2, label: "Fullscreen" %>
        <%= f.radio_button :theme, 1, label: "Circles" %>
      <% end %>
</div>
<%= f.check_box :autoplay_music, layout: :horizontal, label_col: "col-sm-6", control_col: "col-sm-6", label: "Play background music" %>
<%= f.check_box :scheduler, layout: :horizontal, label_col: "col-sm-6", control_col: "col-sm-6", label: "Use scheduler widget" %>
<%= f.check_box :scheduler_auto_display, layout: :horizontal, label_col: "col-sm-6", control_col: "col-sm-6", label: "Auto-show lead generation form" %>
<%= f.check_box :inactive, layout: :horizontal, label_col: "col-sm-6", control_col: "col-sm-6", label: "Make tour inactive" %>

