<tr>
  <td><%= tour.created_at.strftime("%m/%d/%y") %></td>
  <td><%= tour.address %></td>
  <td><%= "#{tour.city}, #{tour.state} #{tour.zip}"%></td>
  <td><%= number_to_currency(tour.price, precision: 0) %></td>
  <td>
    Unbranded: <%= link_to "  http://www.tourapp.com/tours/#{tour.id}", tour_path(tour.id), :target => '_blank' %> <br />
    Branded:  <%= link_to "  http://www.tourapp.com/tours/b/#{tour.id}", "tours/b/#{tour.id}", :target => '_blank' %>
  </td>

  <td>
    <%= link_to "Edit", edit_tour_path(tour.id), class: "btn btn-info btn-xs btn-spacer" %>
  	<% @delete_object = tour %>
  	<%= link_to "X", @delete_object, method: :delete, data: { confirm: "Are you sure you want to PERMANENTLY delete the tour for #{tour.address}?" }, title: @delete_object.address, class: "btn btn-danger btn-xs btn-spacer" %>
    </td>
</tr>