<% provide(:title, 'Edit Tour') %>
<h1><%= @tour.address %></h1>

<div class="row">

	<!-- Begin 'Tour Info' Column -->

	<div class="col-md-4 col-md-offset-1">
		<h3 class="grey">Tour Info:</h3>
		<%= bootstrap_form_for(@tour, :html => { :multipart => true }) do |f| %> <!-- TOUR INFO FORM -->
			<%= render 'shared/tour_error_messages' %>
			<%= render 'form', f: f %>
			<br />
			<%= f.submit "Update Tour Info", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>

	<!-- Begin 'Photos' Column -->

	<div class="col-md-6 col-md-offset-1">
		<h3 class="grey">Add Photos:</h3>
		<%= render 'tours/partials/photo_upload' %>
		<br />

		<h3 class="grey">Current Photos:</h3>
		<%= render 'tours/partials/photo_list' %>

	</div>
</div>