<% provide(:title, @tour.address) %>

<h1>Look at this beautiful tour.</h1>
<h3><%= @tour.address %>  <%= @tour.city %>, <%= @tour.state %> <%= @tour.zip %></h3>
<h3><%= number_to_currency(@tour.price, precision: 0) %></h3>
<br />
<p><%= @tour.description %></p>
<ul>
	<li>Bedrooms: <%= @tour.beds %></li>
	<li>Bathrooms: <%= @tour.baths %></li>
	<li>Home Size: <%= @tour.home_size %> sq ft</li>
	<li>Lot Size: <%= @tour.lot_size %> sq ft</li>
	<li>Year Built: <%= @tour.year_built %></li>

</ul>