<%= bootstrap_form_for(@agent, html: {"data-type" => :json, multipart: true}) do |f| %>

  <div class="clearfix">
    <% if @agent.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</p>

        <ul>
        <% @agent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :user_id, value: @user.id %>

    <%= f.text_field :first_name, placeholder: "First Name", hide_label: true %>

    <%= f.text_field :last_name, placeholder: "Last Name", hide_label: true %>

    <%= f.text_field :company, placeholder: "Company/Brokerage", hide_label: true %>

    <%= f.text_field :phone, placeholder: "Phone", hide_label: true %>

    <%= f.text_field :email, placeholder: "Email", hide_label: true %>

    <%= f.text_field :website, placeholder: "Website (http://www.example.com)", hide_label: true %>

    <%= f.file_field :user_image %>

    <%= f.submit class: "btn btn-primary float-right", id: "modal_save_agent" %>
  </div>

<% end %>
