
<div class="container">

  <%= link_to '<- All Agents', agents_path, class: "float-left" %>

  <h1 class="clear"><%= @agent.full_name %></h1>

  <div class="row mar-top40">
    <div class="col-sm-3 col-sm-offset-2">
      <% if @agent.user_image.present? %>
        <%= image_tag @agent.user_image.url(:square), class: "img-round" %>
      <% end %>
    </div>

    <div class="col-sm-6 col-sm-offset-1">

      <p>
        <strong>Company:</strong>
        <%= @agent.company %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @agent.phone %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @agent.email %>
      </p>

      <p>
        <strong>Website:</strong>
        <%= @agent.website %>
      </p>

      <%= link_to 'Edit', edit_agent_path(@agent), class: "btn btn-primary mar-top20" %>

    </div>
  </div>
</div>