<% provide(:title, 'Sign in') %>
<% provide(:body_id, 'signup') %>

<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h4>Sign in to your account.</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">
								<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

		  							<%= f.email_field :email, autofocus: true %>

		  							<%= f.password_field :password, autocomplete: "off" %>

									<% if devise_mapping.rememberable? -%>
										<%= f.check_box :remember_me %>
								  	<% end %>
								  	<div class="span7 text-center">
								  		<%= f.submit "Sign in", class: "btn btn-primary" %>
								  	</div>
								<% end %>
							</div>
						</div>						
					</div>
				</div>
				<div class="already-account">
				<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
					Don't have an account? <a href="/users/sign_up">Create one here</a>.
				</div>
			</div>
		</div>
	</div>


