<div class="actions">
  <%= f.file_field :photo, hide_label: true %> <br />
  <%= f.text_field :title, hide_label: true, placeholder: "Title (optional)" %>
  <%= f.text_field :description, hide_label: true, placeholder: "Description (optional)", control_col: "col-md-6" %>
  <%= f.hidden_field :tour_id, :value => @tour.id %> <br />
  <%= f.submit "Upload Photo", class: "btn-primary" %>
</div>
