<section id="agent">
	<div class="container-fluid agent-info">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Presented By:</h2>
				<% unless @tour.user.user_image.blank? %>
					<%= image_tag @tour.user.user_image.url(:square), class: "agent-photo" %>
				<% end %>
				<span class="agent-name"><%= "#{@tour_agent.name} #{@tour.user.last_name}" %></span>
				<span class="agent-company"><em><%= @tour.user.company %></em></span>
				<span class="agent-contact-info">
					<% if @tour.user.phone %>
						<%= "#{@tour.user.phone} |" %>
					<% end %>
						
					<%= mail_to @tour.user.email, "Email" %> |

					<% if @tour.user.user_url %>
						<a href="<%= @tour.user.user_url.to_s %>">Website</a>
					<% end %>
				</span>

			</div>
		</div>
	</div>
</section>