<div id="gallery-wrapper">
	<div id="bannerscollection_zoominout_generous">
		<div class="myloader"></div>
	    <!-- CONTENT -->
	    <ul class="bannerscollection_zoominout_list">
	    <% @photos.each do | photo | %>	
	    	<li data-initialZoom="1" data-finalZoom="0.74" data-text-id="#bannerscollection_zoominout_photoText<%= photo.id %>" data-bottom-thumb="<%= photo.upload.url(:thumb).to_s %>" ><img src="<%= photo.upload.url(:slider).to_s %>" alt="" width="1280" height="960" /></li>
	    <% end %>
		</ul>
		       
		<!-- TEXTS -->
		<% @photos.each do | photo | %>	
			<% if photo.label? %>
				<div id="bannerscollection_zoominout_photoText<%= photo.id %>" class="bannerscollection_zoominout_texts"> 
			   		<div class="bannerscollection_zoominout_text_line textElement12_generous"
			        data-final-left="50" 
			        data-final-top="50" 
			        data-duration="0.5" 
			        data-fade-start="0">
			        <%= photo.label.to_s %>
			        </div>
				</div>
		    <% end %>
		<% end %>
		
	</div>
</div>