<div id="info-panels">
  <div id="property-info-box" class="col-lg-4 col-lg-offset-2 
                                     col-md-5 col-md-offset-1 
                                     col-sm-10 col-sm-offset-1
                                     col-xs-12">
      
      <!-- ICON & LABEL -->
      <div id="info-icon" class="info_btn_active info center">
        <%= image_tag('tour-default/info-icon.png') %>
      </div>
      <div class="panel-label center">
        Property Info
      </div>
      <!-- <div class="panel-label-line"></div> -->
    
      <!-- HOME INFO -->
      <div id="property-info" class="info-panel">
      <h3 class="price center"><%= number_to_currency(@tour.price, precision: 0) %></h3>
      <br />
      <p class="description"><%= @tour.description %></p>
      <br />
      <div class="home-specs">
        <ul class="left">
          <% if @tour.beds? %>
          <li>
            <strong class="home-specs-label">Bedrooms:</strong>
            <span class="home-specs-value"><%= @tour.beds %></span>
          </li>
          <% end %>

          <% if @tour.baths? %>
          <li>
            <strong class="home-specs-label">Bathrooms:</strong>
            <span class="home-specs-value"><%= @tour.baths %></span>
          </li>
          <% end %>

          <% if @tour.home_size? %>
          <li>
            <strong class="home-specs-label">Home size:</strong>
            <span class="home-specs-value"><%= "#{number_with_delimiter(@tour.home_size)} sq ft" %></span>
          </li>
          <% end %>

          <% if @tour.lot_size? %>
          <li>
            <strong class="home-specs-label">Lot size:</strong>
            <span class="home-specs-value"><%= "#{number_with_delimiter(@tour.lot_size)}" %></span>
          </li>
          <% end %>

          <% if @tour.year_built? %>
          <li>
            <strong class="home-specs-label">Year built:</strong>
            <span class="home-specs-value"><%= @tour.year_built %></span>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div> <!-- /property info -->

  <div id="other-info-box" class="col-lg-4 col-lg-offset-0
                                  col-md-5 col-md-offset-0
                                  col-sm-10 col-sm-offset-1
                                  col-xs-12">

    <div id="other-info-btns">
      <ul>
      <li id="map-icon" class="info_btn_active">
        <a href="" onclick="return false"><%= image_tag('tour-default/map-icon.png') %></a>
      </li>
      <li id="mortgage-calc-icon" class="info_btn_inactive">
        <a href="" onclick="return false"><%= image_tag('tour-default/calculator-icon.png') %></a>
      </li>
      <li id="school-info-icon" class="info_btn_inactive">
        <a href="" onclick="return false"><%= image_tag('tour-default/school-icon.png') %></a>
      </li>
      </ul>
    </div>

    <div class="panel-label panel-label-switch center">
      Map
    </div>

    <!-- <div class="panel-label-line"></div> -->



    <div id="map-panel" class="info-panel info-panel-switch">
        <div id="map"></div>

      <script type="text/javascript">
        function initializeMap() {
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(16);
          
        });
      }
      </script>
      <script>initializeMap();</script>
    </div>

    <div id="mortgage-calc" class="info-panel info-panel-switch" style="display: none;">
      <div id="horizontalWidget" style="width:370px;overflow:hidden;text-align:center;font-family:verdana,arial,sans-serif;font-size:8pt;line-height:13x;background-color:#dbdbdb;letter-spacing:0;text-transform:none;border-radius: 5px;webkit-border-radius:5px; margin:0 auto;"><div style="width:352px;margin:0 auto;background-color:#f4f4f4;text-align:left; font-size:8pt;border-radius: 5px; border: 1px solid;border-color:#cccccc;webkit-border-radius: 5px;padding: 0 1px;"><iframe title="Mortgage Calculator" frameborder="0" height="235px" style="float:left;" scrolling="no" width="352px" src="http://www.zillow.com/mortgage/SmallMortgageLoanCalculatorWidget.htm?price=<%= @tour.price  %>&wtype=spc&rid=102001&wsize=small&textcolor=666666&backgroundColor=f4f4f4&advTabColor=9b9b9b&bgcolor=dbdbdb&bgtextcolor=666666&headerTextShadow=fff&widgetOrientationType=horizontalWidget"> Your browser doesn't support frames. Visit <a href="http://www.zillow.com/mortgage-calculator/" target="_blank" style="text-decoration:none; font-size:9pt; font-weight:bold;">Zillow Mortgage Calculators</a> to see this content. </iframe><div style="clear:both;"></div></div>
      <div style="height:20px;"><span style="display:block;margin:0 auto;font-size:7pt;height:15px;width:178px;color:#666666;padding-top:2px;"><a href="http://www.zillow.com/mortgage-rates/" target="_blank" title="Zillow Mortgage Marketplace" style="text-decoration:none;color:#3366bb;font-weight:normal;font-family:verdana,arial,sans-serif;font-size:7pt;color:#666666;">Zillow Mortgage Calculator</a></span></div></div>
    </div>

    <div id="school-info" class="info-panel info-panel-switch" style="display: none;">
        
        <link href="http://www.education.com/themes/sky/css/sfsearchwidget.css" rel="stylesheet"/>
        <div class="sf-search-widget-box" style="margin: 0 auto;">
        <div class="topleft corner">
        <div class="topright corner"><center>
        <div class="form-container">
        <form method="get" id="schoolfinderSearchForm" name="schoolfinderSearchForm" action="http://www.education.com/schoolfinder/searchresult/">
        <h3>Find Local Schools</h3>
        <span style="float:left;">
        <input type="text" id="searchTerms" name="searchTerms" value="<%= @tour.zip %>" onfocus="javascript:this.value='';" onblur="javascript:if(this.value=='')this.value='Enter ZIP or City & State';"/>
        <input type="hidden" id="searchType" name="searchType" value="simple" />
        </span>
        <a class="button-orange" href="#" onclick="javascript:document.schoolfinderSearchForm.submit();" >
        <span class="leftside"></span>Find<span class="rightside"></span>
        </a>
        </form>
        <div class="schoolfinder-widget-bottom-links">
        <a href="http://www.education.com/schoolfinder/us">Browse schools by state</a>
        </p>
        <center><a href='http://www.education.com' target='_blank'><img src="http://www.education.com/i/logo/edu-logo-100.gif" border="0" alt="Provided by Education.com"></a></center>
        </div>
        </div></center>
        <div class="botleft corner"><div class="botright corner">&nbsp;</div></div>
        </div>
        </div>
        </div>  
    </div>

  </div>
</div>