<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- stylesheets -->
    <%= stylesheet_link_tag    "application-all", media: "all", "data-turbolinks-track" => true %>

    <!-- javascript -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body id="<%= yield(:body_id) %>" class="<%= controller_name %> <%= action_name %> <%= yield(:body_class) %>">
    <%= render 'layouts/header' %>
    <% unless controller_name == 'static_pages' # don't show flash messages on home page (it breaks layout) %>
      <%= render 'layouts/messages' %> 
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    <!-- Google Analytics -->
    <%= render 'layouts/google_analytics' if Rails.env.production? %>
  </body>

</html>